# DB
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_ROOT_PASSWORD=

KAKAO_REDIRECT_URI=

OTLP_LOGS_ENDPOINT=http://localhost:4318/v1/logs
OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTLP_METRICS_ENDPOINT=http://localhost:4318/v1/metrics

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_BUKCEY_NAME=

MISTRAL_OCR_KEY=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
